.animals-card {
    display: grid;
    grid-template-areas: "buttonL animals1 animals1 animals1 buttonR"
                         "buttonL buttonL2 space buttonR2 buttonR"
                         "buttonL animals2 animals2 animals2 buttonR";
    grid-template-rows: 1fr 20px 1fr;
    grid-template-columns: 102px 494px 171px 494px 102px;
    justify-items: center;
    align-items: center;
}

.button-left {
    grid-column-start: buttonL;
    grid-column-end:   buttonL;
    grid-row-start: buttonL;
    grid-row-end:   buttonL;
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-right {
    grid-column-start: buttonR;
    grid-column-end:   buttonR;
    grid-row-start: buttonR;
    grid-row-end:   buttonR;
    width: 100%;
    display: flex;
    justify-content: center;
}

.animals-row1 {
    grid-column-start: animals1;
    grid-column-end:   animals1;
    grid-row-start: animals1;
    grid-row-end:   animals1;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.animals-row2 {
    grid-column-start: animals2;
    grid-column-end:   animals2;
    grid-row-start: animals2;
    grid-row-end:   animals2;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.wrapper-animals {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 102px;
}

.button_circle {
    width: 62px;
    height: 62px;
    border-radius: 30px;
    background: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 1.5rem;
    color: #fff;
}

.button_circle:hover{
    background: $color-primary-hover;
}

.button_circle:active{
    background: $color-additional;
}

.animals-row__card {
    height: 423px;
    width: 364px;
    border-radius: 5px;
    background: #fff;
    transition: transform 1s;
    &:hover {
        transform: scale(1.05);
    }
}

.animals-row__card-border-wrap:last-of-type {
    margin-right: 0;
}

.animals-row__card-border-wrap {
    height: 426px;
    width: 366px;
    background-image: $color-primary;
    padding: 3px 2px 2px 2px;
    margin-right: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animals-row__card__img {
    height: 366px;
    width: 100%;
    border-radius: 5px;
}

.animals-row__text {
    padding-left: 16px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}

.animals-row__name {
    margin: 0;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
}

.animals-row__ico {
    width: 33px;
    height: 37px;
    padding-right: 50px;
    padding-top: 5px;
}

.animals-row__describe {
    display: flex;
    margin: auto;;
    justify-content: space-between;
}

.animals-row__native {
    margin: 0;
    width: fit-content;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 120%;
    color: #000000;
}

.button-choose {
    margin-top: 80px;
}

.animals__palm {
    position: absolute;
    left: 0;
    top: 2158px;
    z-index: -1;
}

.animals__flower {
    position: absolute;
    right: 0;
    top: 2345px;
}