.backstage {
    padding: 8.75vw 0 11.25vw 0;
}

.layout-2-column {
    display: flex;
}

.backstage__text {
    max-width: 465px;
    margin-left: 5.4375vw;
}

.backstage__text-h2 {
    margin: 0;
    padding-bottom: 24px;
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 120%;
}

.backstage__text-p:first-of-type {
    margin: 0;
    padding-bottom: 54px;
}

.backstage__text-p {
    margin: 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
}

.backstage__text-h3 {
    margin: 0;
    padding-bottom: 34px;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 120%;
}

.backstage__flower {
    position: absolute;
    right: 0;
}

.bamboo-cap {
    width: 60%;
}

.layout-2-column .button_watch {
    display: none;
}

.backstage__flower-img {
    width: 100%;
    height: 100%;
}


@media (max-width: 1500px){
    .backstage__flower {
        display: none;
    }
}

@media (max-width: 1000px) {
    .backstage {
        padding: 10vw 0 16.5vw 0;
    }
    
    .backstage__text {
        margin-left: 3.1vw;
    }
    
    .bamboo-cap {
        width: 48%;
    }
}

@media (max-width: 960px) {
    .backstage {
        padding: 60px 0 80px 0;
    }

    .layout-2-column {
        flex-direction: column;
    }

    .bamboo-cap {
        display: none;
    }

    .backstage__flower {
        display: inline-block;
        width: 125px;
        height: 476px;
    }

    .backstage__text {
        margin: 0;
    }

    .backstage__text-h2 {
        padding-bottom: 22px;
    }

    .backstage__text-p:first-of-type {
        margin: 0;
        padding-bottom: 30px;
    }

    .backstage__text-h3 {
        padding-bottom: 20px;
    }
}