.promo {
    width: 100%;
    background: url(../assets/images/Giant\ Panda.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.promo__content {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-end;
    padding: 10.375vw 0 6.20vw 0;
}

.promo__text {
    margin: 0;
    font-weight: 700;
    font-size: 6.75vw;
    line-height: 74%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    z-index: 2;
}

.promo__text-yellow {
    color: $color-selection;
}

.circle-orange {
    width: 29.0625vw;
    height: 29.0625vw;
    margin-top: -29.6875vw;
    margin-left: -5.125vw;
    background: $color-primary;
    border-radius: 300px;
}

.button_rounded {
    width: 298px;
    height: 55px;
    outline: none;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-image: $color-primary;
}

.button_rounded:hover {
    background: $color-primary-hover;
}

.button_rounded:active {
    background: $color-additional;
}

.button_watch {
    margin-top: 69px;
    margin-left: 94px;
}

