.promo {
    width: 100%;
    background: url(../assets/images/Giant\ Panda.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.promo__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10.375vw 0 6.2vw 0;
}

.promo__text {
    width: 100%;
    margin: 0;
    font-weight: 700;
    font-size: 6.75vw;
    line-height: 74%;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    color: #fff;
    z-index: 3;
}

.promo__text-yellow {
    color: $color-selection;
}

.promo__text::before {
    width: 29.0625vw;
    height: 29.0625vw;
    margin: -4.625vw 0 0 -9vw;
    background: $color-primary;
    border-radius: 300px;
    content: "";
    position: absolute;
    z-index: -1;
}

.promo__button-wrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

.button_rounded {
    width: 298px;
    height: 55px;
    outline: none;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-image: $color-primary;
}

.button_rounded:hover {
    background: $color-primary-hover;
}

.button_rounded:active {
    background: $color-additional;
}

.button_watch {
    margin-top: 59px;
    margin-left: 94px;
}


@media (max-width: 1000px) {
    .promo__content {
        padding: 12.28vw 6vw 4.7vw 0;
    }
    
    .promo__text {
        font-size: 8.5rem;
        line-height: 75%;
    }
    
    .promo__text::before {
        width: 367px;
        height: 367px;
        margin-top: -54px;
        margin-left: -116px;
    }
    
    .button_watch {
        margin-top: 42px;
        margin-left: 7px;
    }
    .promo__button-wrap {
        margin-right: 47px;
    }
}

@media (max-width: 960px) {
    .promo__content {
        width: 93.75vw;
        padding: 84px 0 40px 0;
    }
    
    .promo__text {
        font-size: 5.4rem;
        line-height: 75%;
    }
    
    .promo__text::before {
        width: 37.03125vw;
        height: 37.0125vw;
        margin-top: -6.25vw;
        margin-left: -74px;
    }

    .promo__content .button_watch {
        margin: 0;
    }
    
    .promo__button-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: -8px;
        margin-right: 150px;
    }
}

@media (max-width: 960px) {

}