.layout-4-rows {
    display: flex;
    flex-direction: column;
    padding-top: 136px;
    padding-bottom: 180px;
}

.layout-4-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 24px;
}

.testimonials-h3 {
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #333B41;
}

.testimonials__card-border-wrap {
    width: 268px;
    height: 391px;
    background-image: $gradient-pink;
    padding: 2px;
    border-radius: 20px;
}

.testimonials__card {
    height: 99.9%;
    display: flex;
    flex-direction: column;
    background: #F1F3F2;
    border-radius: 20px;
    padding: 15px 13px 8px 16px;
}

.testimonials__card-title {
    display: flex;
    align-items: center;
}

.testimonials__card-title-text {
    display: flex;
    flex-direction: column;
}

.testimonials__card-title-text-local {
    display: flex;
}

.testimonials__name {
    padding-left: 10px;
    line-height: 120%;
    color: #000000;
}

.testimonials__location {
    padding-left: 10px;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 120%;
    color: #BDBDBD;
}

.testimonials__time {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 120%;
    color: #BDBDBD;
}

.testimonials__desc {
    padding-top: 10px;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
    overflow: hidden;
    text-overflow: clip;
}

.testimonials__slider-border {
    width: 599px;
    height: 8px;
    margin-left: 280px;
    margin-bottom: 31px;
    background-image: $gradient-pink;
    padding: 1px;
    border-radius: 5px;
}

.testimonials__slider {
    width: 598px;
    height: 7px;
    background: #F5F7F6;
}

.testimonials__slide {
    width: 115.19px;
    height: 6px;
    background: #FE9013;
    border-radius: 5px;
}

.button_round_square {
    width: 298px;
    height: 54px;
    background-image: $color-primary;
    border-radius: 5px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
}

.button_round_square:hover {
    background: $color-primary-hover;
}

.button_round_square:active {
    background: $color-additional;
}


@media (max-width: 1160px) {
    .testimonials__card-border-wrap {
        width: 294px;
    }
    
    .testimonials__card-border-wrap:last-of-type {
        display: none;
    }

    .footer__leav {
        display: none;
    }
}

@media (max-width: 1000px) {
    .layout-4-rows {
        padding-top: 100px;
        padding-bottom: 140px;
    }

    .layout-4-column {
        padding-top: 30px;
        padding-bottom: 0px;
    }

    .testimonials__slider-border {
        width: 390px;
        height: 8px;
        margin: 20px 0 51px 268px;
    }

    .testimonials__slider {
        width: 390px;
    }

    .testimonials__slide {
        width: 75px;
    }
}

@media (max-width: 960px) {
    .layout-4-rows {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .layout-4-column {
        flex-direction: column;
        align-items: space-between;
        margin-bottom: 25px;
    }

    .testimonials__card-border-wrap {
        width: 600px;
        height: 109px;
        margin-bottom: 15px;
    }

    .testimonials__card-border-wrap:last-of-type {
        margin-bottom: 0;
    }

    .testimonials__slider-border {
        display: none;
    }

    .testimonials__card {
        padding: 15px 29px 8px 12px;
    }

    .testimonials__desc {
        padding-left: 5px;
    }

    .layout-4-rows .button_round_square {
        width: 240px;
        height: 54px;
    }

    .testimonials__button-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}