.footer {
    background: #000;
}

.layout-3-rows-3-columns {
    display: grid;
    grid-template-areas: "logo subscribe subscribe"
                         "button subscribe subscribe"
                         "social navigation designed";
    grid-template-rows: 1fr 86px 180px;
    grid-template-columns: 1.8fr 30.9375vw 2.2fr;
    align-items: flex-end;
    justify-content: center;
    padding-top: 30px;
    margin: 0;
    padding-bottom: 50px;
}

.footer__logo {
    height: 100%;
    grid-column-start: logo;
    grid-column-end:   logo;
    grid-row-start: logo;
    grid-row-end:   logo;
    padding-top: 10px;
}

.footer__submit {
    width: 129px;
    height: 42px;
    border: 1px solid $color-additional;
    color: $color-additional;
    grid-column-start: button;
    grid-column-end:   button;
    grid-row-start: button;
    grid-row-end:   button;
}


.footer__social {
    height: 90%;
    font-size: 1.6rem;
    line-height: 140%;
    text-decoration: none;
    color: #fff;
    grid-column-start: social;
    grid-column-end:   social;
    grid-row-start: social;
    grid-row-end:   social;
}

.footer__social > ul {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 25px 0 0 0;
    padding: 0;
    list-style-type: none;
}

.footer__nav {
    grid-column-start: navigation;
    grid-column-end:   navigation;
    grid-row-start: navigation;
    grid-row-end:   navigation;
}

.footer__navbar-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 3.3vw;
}

.footer__navbar-menu__link {
    list-style: none;
    padding: 0 1.875vw;
}

.footer__navbar-menu__link:last-of-type {
    padding: 0 0 0 1.875vw;
}

.navbar-menu__link:first-of-type {
    padding: 0 1.875vw 0 0;
}
.footer__navbar-menu__link a {
    text-decoration: none;
    color: #fff;
    align-items: center;
    list-style-type: none;
    font-size: 1.6rem;
    line-height: 140%;
    color: #FFFFFF;
}

.footer__navbar-menu__link a:hover {
    color: $color-primary-hover;
}

.footer__subscribe {
    display: flex;
    justify-content: flex-end;
    color: #FFF;
    grid-column-start: subscribe;
    grid-column-end:   subscribe;
    grid-row-start: subscribe;
    // grid-row-end:   subscribe;
}

.footer__subscribe-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__subtitle {
    margin: 14px 0;
}

.footer__form {
    display: flex;
}

.footer__input {
    width: 228px;
    height: 42px;
    border: 1px solid $color-primary-hover;
    background-color: #000;
    color: #fff;
}

.footer__submit {
    margin-left: 10px;
}

.footer__subtitle {
    font-size: 24px;
    line-height: 120%;
}

.footer__designe {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFF;
    grid-column-start: designed;
    grid-column-end:   designed;
    grid-row-start: designed;
    grid-row-end:   designed;
}

.footer__designe-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__designe p {
    margin: 0;
    text-align: start;
}

.footer__button {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__button:hover {
    background: $color-primary-hover;
}

.footer__social ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.footer__social ul li a img {
    padding-right: 12px;
}


@media (max-width: 1000px) {
    .footer__navbar-menu {
        padding-left: 0vw;
    }

    .footer__navbar-menu__link:first-of-type {
        padding: 0 1.875vw 0 0;
    }

    .layout-3-rows-3-columns {
        grid-template-rows: 1fr 86px 180px;
        grid-template-columns: 1.8fr 36vw 1.9fr;
    }

    .footer__subscribe {
        padding-right: 35px;
    }
}

@media (max-width: 960px) {
    .layout-3-rows-3-columns {
        display: grid;
        grid-template-areas: "logo social"
                             "button social"
                             "navigation designed";
        grid-template-rows: 65px 120px 86px;
        grid-template-columns: 46.5625vw 35.9375vw;
        column-gap: 73px;
        padding: 0px 0 10px;
    }

    .footer__subscribe {
        display: none;
    }

    .footer__social ul li p {
        display: none;
    }

    .footer__social {
        display: flex;
        justify-content: flex-end;
    }

    .footer__social ul{
        margin: 0;
        display: flex;
        align-content: space-between;
        // padding: 10px 0 10px 0;
    }

    .footer__social ul li a img {
        padding-right: 0;
    }

    .footer__donate {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .footer__navbar-menu__link {
        list-style: none;
        padding: 0 3.2vw;
    }
    
}

@media (max-width: 590px) {
    .layout-3-rows-3-columns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__logo-link img {
        display: none;
    }

    .footer__social {
        order: 2;
        width: 75%;
        padding-top: 22px;
    }

    .footer__social ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .footer__logo {
        order: 1;
        padding-top: 20px;
    }

    .footer__logo-link {
        content: url(../assets/images/logo2.png);
    }

    .footer__donate {
        order: 3;
        padding-top: 31px;
    }

    .footer__designe {
        order: 4;
        padding-top: 28px;
        width: 100%;
    }

    .footer__nav {
        order: 5;
        padding-top: 20px;
        width: 100%;
    }

    .footer__navbar-menu {
        display: flex;
        justify-content: space-around;
    }

    .footer__designe-wrap > p {
        padding-bottom: 10px;
        font-size: 1.5rem;
    }
}