.header {
    position: fixed;
    top: 0;
    padding: 14px 0;
    width: 100%;
    background: #000;
    backdrop-filter: blur(2px);
    z-index: 1000;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar-logo {

}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar-menu__link {
    list-style: none;
    padding: 0 29px;
}

.navbar-menu__link a {
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 140%;
}