
@media (max-width: 1500px){
    .backstage__flower {
        display: none;
    }

    .animals__palm {
        display: none;
    }
    
    .animals__flower {
        display: none;
    }
}

@media (max-width: 1500px) {
    .animals-card {
        grid-template-rows: 426px 92px 426px;
        grid-template-columns: 0px 494px 171px 494px 0px;
    }

    .button-left {
        display: flex;
        justify-content: flex-end;
        grid-column-start: buttonL2;
        grid-column-end:   buttonL2;
        grid-row-start: buttonL2;
        grid-row-end:   buttonL2;
    }

    .button-right {
        display: flex;
        justify-content: flex-start;
        grid-column-start: buttonR2;
        grid-column-end:   buttonR2;
        grid-row-start: buttonR2;
        grid-row-end:   buttonR2;
    }
}

@media (max-width: 1200px) {
    .wrapper-animals {
        margin: auto;
    }

    .animals-card {
        grid-template-rows: 35.4vw 92px 35.4vw;
        grid-template-columns: 0px 41.1vw 11.4vw 41.1vw 0px;
    }

    .animals-row__card-border-wrap {
        height: 35.4vw;
        width: 29.4vw;
    }

    .animals-row__card {
        height: 35.15vw;
        width: 29.3vw;
    }

    .animals-row__card__img {
        height: 29.3vw;
    }
}



@media (max-width: 1160px) {
    .testimonials__card-border-wrap {
        width: 294px;
    }
    
    .testimonials__card-border-wrap:last-of-type {
        display: none;
    }
}




@media (max-width: 1000px) {
    .wrapper {
        max-width: 1000px;
    }



    .promo__content {
        padding: 12.28vw 6vw 4.7vw 0;
    }
    
    .promo__text {
        font-size: 8.5rem;
        line-height: 75%;
    }
    
    .circle-orange {
        width: 367px;
        height: 367px;
        margin-top: -372px;
        margin-left: -72px;
    }
    
    .button_watch {
        margin-top: 46px;
        margin-left: 37px;
    }




    .backstage {
        padding: 10vw 0 16.5vw 0;
    }
    
    .backstage__text {
        margin-left: 3.1vw;
    }
    
    .bamboo-cap {
        width: 48%;
    }


    .wrapper-animals {
        padding-bottom: 140px;
    }

    .animals-card {
        grid-template-rows: 35.4vw 92px 35.4vw;
        grid-template-columns: 0px 38.45vw 17.1vw 38.45vw 0px;
    }

    .animals-row__card-border-wrap {
        height: 35.4vw;
        width: 29.3vw;
    }

    .animals-row__card {
        height: 35.15vw;
        width: 29.1vw;
    }

    .animals-row__card__img {
        height: 29.1vw;
    }





    .pick-feed .wrapper {
        padding: 32px 0 50px 0;
    }

    .pick-feed__text h2 {
        padding-top: 30px;
    }
    
    .pick-feed__text .subtitle {
        padding-top: 22px;
        padding-bottom: 4px;
    }
    
    .pick-feed__text p {
        padding-top: 10px;
        padding-left: 49px;
    }
    
    .pick-feed__text h3 {
        padding-top: 38px;
        padding-left: 366px;
        padding-bottom: 40px;
        margin: 0;
    }

    .button_feed {
        margin-top: 37px;
        margin-bottom: 49px;
    }



    .layout-4-rows {
        padding-top: 100px;
        padding-bottom: 140px;
    }

    .layout-4-column {
        padding-top: 30px;
        padding-bottom: 0px;
    }

    .testimonials__slider-border {
        width: 390px;
        height: 8px;
        margin: 20px 0 51px 268px;
    }

    .testimonials__slider {
        width: 390px;
    }

    .testimonials__slide {
        width: 75px;
    }

    .footer__navbar-menu {
        padding-left: 0vw;
    }

    .footer__navbar-menu__link:first-of-type {
        padding: 0 1.875vw 0 0;
    }

    .layout-3-rows-3-columns {
        grid-template-rows: 1fr 86px 180px;
        grid-template-columns: 1.8fr 36vw 1.9fr;
    }

    .footer__subscribe {
        padding-right: 35px;
    }
}


@media (max-width: 960px) {
    // .wrapper {
    //     max-width: 660px;
    // }


    


    // .promo__content {
    //     padding: 44px 0 4.7vw 0;
    // }
    
    // .promo__text {
    //     font-size: 5.4rem;
    //     line-height: 75%;
    // }
    
    // .circle-orange {
    //     width: 237px;
    //     height: 237px;
    //     margin-top: -272px;
    //     margin-left: -72px;
    // }
    
    // .button_watch {
    //     margin-top: 46px;
    //     margin-left: 37px;
    // }
}