.wrapper {
    max-width: 1220px;
    margin: auto;
    padding: 0 30px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    .wrapper {
        max-width: 1000px;
    }
}

@media (max-width: 960px) {
    .wrapper {
        max-width: 640px;
        padding: 0 20px;
    }
}

@media (max-width: 590px) {
    .wrapper {
        max-width: 320px;
        padding: 0 10px;
    }
}