.wrapper {
    max-width: 1220px;
    margin: auto;
    padding: 0 30px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1000px) {
    .wrapper {
        max-width: 1000px;
    }
}

@media (max-width: 960px) {
    .wrapper {
        max-width: 660px;
    }
}