:root {
    --green: #4b9200;
    --orange: #f9804b;
    --yellow: #ffee2e;
    --red: #d31414;
    --frosted-glass-white: #fdfdff;
    --light-gray: #f1f3f2;
    --gray-smoky: #ababab;
    --gray: #767474;
    --black-blue: #333b41;
}
